/* global.css */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  margin: 0;
  width: 100%;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  padding: 2%;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: color 0.25s;
}
a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

.ant-notification {
  z-index: 1050 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .ant-btn {
    background-color: #f9f9f9;
    color: #213547;
  }
  .ant-btn:hover {
    background-color: #e6e6e6;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2em;
  }
  .ant-btn {
    width: 100%;
  }
}