/* global.css */
:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  margin: 0;
  min-height: 100vh;
}


*, *::before, *::after { box-sizing: border-box; }
html, body, #root { height: 100%; }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* remove scroll horizontal globalmente */
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: color 0.25s;
}
a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

.ant-notification {
  z-index: 1050 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .ant-btn {
    background-color: #f9f9f9;
    color: #213547;
  }
  .ant-btn:hover {
    background-color: #e6e6e6;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2em;
  }
  .ant-btn {
    width: 100%;
  }
}